<%= form_with(model: post, local: true, class: "listing__form") do |form| %>
  <% if post.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
    <ul>
      <% post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="control-group">
    <div class="form-group floating-label-form-group controls">
      <label>Title</label>
      <%= form.text_field :title, class: "form-control", id: "title", placeholder: "Titulo" %>
    </div>
  </div>

  <div class="control-group">
    <div class="form-group floating-label-form-group controls">
      <label>Content</label>
      <%= form.text_area :content, class: "form-control", id: "content",rows: "5",  placeholder: "Contenido del post" %>
    </div>
  </div>

  <div class="control-group">
    <div class="form-group floating-label-form-group controls">
      <label>Image</label>
      <%= form.text_field :image, class: "form-control", id: "image", placeholder: "Url imagen" %>
    </div>
  </div>

  <div class="control-group">
    <div class="form-group floating-label-form-group controls">
      <%= form.collection_select(:category_id, Category.all, :id, :name, {prompt: "Elige una Categoría"}) %>
    </div>
  </div>

  <div class="form-group">
    <%= form.button "Enviar", value:"Submit Post", class:"btn btn-primary" %>
  </div>

<% end %>


