<!-- Page Header -->
<header class="masthead" style="background-image: url('../assets/home-bg.jpg')" >
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Clean Blog</h1>
          <span class="subheading">A Blog Theme by Start Bootstrap</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <% @posts.each do |post| %>
        <div class="post-preview">
            <%= link_to post_path(post) do %>
              <h2 class="post-title">
                <%= post.title %>
              </h2>
              <h3 class="post-subtitle">
                <%= post.content %>
              </h3>
            <% end %>
            <p class="post-meta">Posted by
            <a href="#"><%= post.user_id %></a>
            on September 24, 2019</p>
            <% if user_signed_in?%>
              <% if current_user.id == post.user_id %>
                <%= link_to  "Edit", edit_post_path(post) %>
                <%= link_to  "Delete", post, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            <% end %>
        </div>
        <hr>
      
      <% end %>
      <!-- Pager -->
      <div class="clearfix">
        <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
      </div>
    </div>
  </div>
</div>
<hr>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto social-networks">
        <ul class="list-inline text-center">
          <li class="list-inline-item">
            <a href="#">
              <%= fa_stacked_icon "twitter inverse", base: "circle", class: "fa-2x" %>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <%= fa_stacked_icon "facebook inverse", base: "circle", class: "fa-2x" %>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <%= fa_stacked_icon "github inverse", base: "circle", class: "fa-2x" %>   
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>