<!-- Page Header -->
<header class="masthead" style="background-image: url('http://lorempixel.com/1200/800/'); height: 28rem;">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1><%= @post.title %></h1>
          <h2 class="subheading"><%= @post.category.name %></h2>
          <span class="meta">Publicado por
            <a href="#"><%= @post.user.username %></a> hace
            <%= time_ago_in_words(@post.created_at) %></span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto mb-3">
        <p><%= @post.content %></p>
      </div>
      <!-- Single Comment -->
      <div class="list-group media col-lg-8 col-md-10 mx-auto mb-3">
          <%= render @post.comments.order(created_at: :asc) %>
      </div>

      <% if user_signed_in? %>
      <!-- Comments Form -->
      <div class="card my-4 col-lg-8 col-md-10 mx-auto mb-3">
        <h5 class="card-header">Deja un Comentario:</h5>
        <div class="card-body">
          <%= render 'comments/form' %>
        </div>
      </div>
      <% end %>

      
    </div>
  </div>
</article>

<hr>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto social-networks">
        <ul class="list-inline text-center">
          <li class="list-inline-item">
            <a href="#">
              <%= fa_stacked_icon "twitter inverse", base: "circle", class: "fa-2x" %>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <%= fa_stacked_icon "facebook inverse", base: "circle", class: "fa-2x" %>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <%= fa_stacked_icon "github inverse", base: "circle", class: "fa-2x" %>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>